@model Kitapcim.Models.Yonetici
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>

<div>
    <h4>Kitaplar</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.kitap_adi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.kitap_adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yazar_adi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.yazar_adi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.basim_tarihi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.basim_tarihi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fiyat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fiyat)
        </dd>
    </dl>
  
</div>

<p>
    @*actionlink link oluşturmaya yarıyor*@
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>